media/**/*.avi
media/**/*.png
VSSS
*.a
*.o
*.json
*.txt
!CMakeLists.txt
!blue_headless.json
!yellow_headless.json
!replacement.json

build/

\.idea/*
!.idea/codeStyles/

cmake-build-debug/

python/__pycache__/

__pycache__/

python/models/


